name: CI/CD Fake com inputs
on: 
    workflow_dispatch:  
jobs:
    CI:
        runs-on: ubuntu-latest
        steps:
            - name: Build de Imagem Docker
              run: echo "Execução do comando de docker build"
            - name: Execução de Testes de Software
              run: echo "Aqui eu executo o teste de software"
            - name: Publicando a Release
              run: echo "Publicação da Relase final"
    CD:
        needs: [CI]
        uses: dcamppos83/devopspro-curso-github-actions/.github/workflows/template-deploy-com-inputs.yml@main
        with:
          ambiente: PRD
        