name: CI/CD Fake Ambientes
on: 
    workflow_dispatch:  
jobs:
    CI:
        runs-on: ubuntu-latest
        steps:
            - name: Build de Imagem Docker
              run: echo "Execução do comando de docker build"
            - name: Execução de Testes de Software
              run: echo "Aqui eu executo o teste de software"
            - name: Publicando a Release
              run: echo "Publicação da Relase final"
    CD:
        needs: [CI]
        runs-on: ubuntu-latest
        environment: homologacao
        steps:
          - name: Deploy em ambiente
            run: echo "Deploy no ambiente de ${{ vars.AMBIENTE_DEPLOY }}"