name: Exemplo Artifact
run-name: Exemplo workflow para Artifact, executado por ${{ github.actor }}
on:
    workflow_dispatch:
env:
    nome-artefato: teste-artefato
jobs:
    upload_artifact:
        runs-on: ubuntu-latest
        steps:
            - name: Listagem de arquivos
              run: ls -lha
            - name: Gerar alguns arquivos
              run: |
                mkdir artefatos
                echo "Arquivo de teste 01" > ./artefatos/primeiro_arquivo.txt
                echo "Arquivo de teste 02" > ./artefatos/segundo_arquivo.txt
            
            - name: Upload dos arquivos
              uses: actions/upload-artifact@v4
              id: upload-artifact
              with:
                name: ${{ env.nome-artefato }}
                path: ./artefatos

            - name: Listagem de arquivo
              run: ls -lha

            - name: URL para obter artefatos
              run: |
                echo "${{ steps.upload-artifact.outputs.artifact-url }}"

    download_artifact:
        runs-on: ubuntu-latest
        needs: [upload_artifact]
        steps:
            - name: Listagem de arquivos
              run: ls

            - name: Download Artifacts
              uses: actions/download-artifact@v4
              with:
                name: ${{ env.nome-artefato }}

            - name: Listagem de arquivos
              run: ls
            